<form action="/article/<%= @article.id %>" method="post">
  <input type="text" name="title" placeholder="title"  value= "<%=@article.title%>"/>
  <input type="text" name="description" placeholder="description"  value= "<%=@article.description%>"/>
  <select name="category_id">
    <option value="1">community</option>
    <option value="2">personals</option>
    <option value="3">discussions</option>
    <option value="4">housing</option>
    <option value="5">for sale</option>
    <option value="6">services</option>
    <option value="7">jobs</option>
    <option value="8">gigs</option>
    <option value="9">resumes</option>
  </select>
  <input type="submit" value="post"/>


</form>
